VITE_API_URL=https://hoop-4thy.onrender.com
VITE_SUPABASE_URL=https://fdcldsrdhwvfijwwuwna.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkY2xkc3JkaHd2Zmlqd3d1d25hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzNTE4OTIsImV4cCI6MjEwMzkyNzg5Mn0.7uqZ2voaj9I0dcI3KnC92FRMtsFqsuuYNMmaYTQDxuU